body{
    margin: 0px;
}
#barraHorizontal{
    width: 960px;
    margin: auto;
    background-color: #4ba;
    height: 30px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 5px #000 inset;
    position: relative;
    z-index: 2;
}